@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Titillium Web", sans-serif;
  background: #f9f9f9;
}
.stroke-1{
}
.stroke-2{
  -webkit-text-stroke: 2px rgba(255,255,255,1);
}